{{#each cocktails}}
  <div class="coctail-item">
    <div class="image">
      <img src="{{strDrinkThumb}}" alt=""/>
    </div>
    <div class="block_text">
      <p>{{strDrink}}</p>
    </div>
  </div>
{{/each}}
